<!DOCTYPE html>
<html>
  <body>
    <form class="" action="/recipes" method="post">
      <input type="text" name="recipe[name]" value="">
      <input type="text" name="recipe[ingredients]" value="">
      <input type="text" name="recipe[cook_time]" value="">
      <input type="submit" value="Save">
    </form>
  </body>
</html>
